/* Estilos base */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #333;
  }
  
  header {
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  main {
    padding: 15px;
  }
  
  section {
    margin-bottom: 30px;
    animation: fadein 1s ease, slideup 1s ease;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    padding: 20px;
  }

 

 
  
  h1, h2 {
    margin-top: 0;
    color: #007bff;
  }
  
  ul {
    list-style: none;
    padding-left: 0;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  a:hover {
    color: #0056b3;
  }
  
  /* Animações */
  @keyframes fadein {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes slideup {
    from {
      transform: translateY(20px);
      opacity: 0;
    }
    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  /* Cards */
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    overflow: hidden;
  }
  
  .card:hover {
    transform: translateY(-5px);
  }
  
  .card img {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .card-description {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
  }
  
  .card-link {
    color: #007bff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .card-link:hover {
    color: #0056b3;
  }
  
